/*CSS custom Properties */
:root {
  /*-----background-----*/
  --main-bg-color: #1f2937;
  --primary-type-color: #273445;
  /*------text---------*/
  --text: #e0e7ff;
  --secondary: #334155;
  /*-------accent------*/
  --accent-color-1: #22c55e;
  --accent-color-2: rgb(206, 246, 206);
  /*------border-------*/
  --border: #475569;

  /* --main-bg-color: #efefef;
  --primary-type-color: #222222;
  --accent-color-1: #999999;
  */
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ------ Helper Classes -------*/
/*-------Hides the personal info from schema----*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/* ------ Typography -------*/
body {
  font-family: "Roboto", sans-serif;
}

/* ------ Fluid Images -------*/

img {
  max-width: 100%;
}

/* ------ Design Time -------*/

.container {
   /*width: 768px;*/
  padding: 20px;
  margin: 0 auto;
  background-color: var(--main-bg-color);
}

/* ------ Global Styles -------*/
body {
  /*background: var(--main-bg-color); */

  color: var(--text);
  line-height: 1.6;
}

.primary {
  background-color: var(--primary-type-color);
}
nav {
  padding: 1px;
}
nav ul {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}
nav li {
  list-style-type: none;
}

nav a:link {
  display: block;
  padding: 8px 16px;
  border: 1px solid var(--border);
  text-align: center;
  text-decoration: none;
  color: var(--accent-color-1);
  text-transform: uppercase;
  font-size: 0.75em;
  background: var(--secondary);
  transition: background-color 0.5s ease;
  /*color: #ffffff;*/
}
nav a:visited {
   display: block;
  padding: 8px 16px;
  border: 1px solid var(--border);
  text-align: center;
  text-decoration: none;
  color: var(--accent-color-2);
  text-transform: uppercase;
  font-size: 0.75em;
  background: var(--secondary);
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color: var(--accent-color-1);
}

a:link {
  color: var(--accent-color-1);
}
a:visited {
  color: var(--accent-color-2);
}
main h1 {
  padding: 1px 20px;
}
main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-variant: small-caps;
}
main h1:before,
main h1:after {
  background-color: var(--accent-color-1);
  content: "\a0";
  flex-grow: 1;
  height: 1px;
  position: relative;
  top: 0.77em;
}

main h1:before {
  margin-right: 15px;  
}

main h1:after {
  margin-left: 15px;
}

.page-title {
  background-color: var(--primary-type-color);
}

.about {
  background-color: var(--primary-type-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}

.details {
  background-color: var(--primary-type-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}

.related-links {
  background-color: var(--primary-type-color);
}

#skills {
  background-color: var(--primary-type-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}

#experience {
  background-color: var(--primary-type-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}
#education {
  background-color: var(--primary-type-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px 20px 0px 20px;
}
footer.container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }


/*---Base CSS---*/


/*------Media Querries---*/
/*----Mobile First default---*/

/*------Tablet breakpoint-----*/
@media screen and (min-width: 768px) {

  nav ul {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  }
  #about {
    display: grid;
    grid-template-columns: 35vw 1fr;
    grid-template-areas: 
        "photo details"
        "bio bio"
        "links links";
    gap: 20px;
    background-color: var(--primary-type-color);
    padding: 20px;
  }
  .bio {
    display: contents;
  }
  
    .headshot {
      grid-area: photo;
      width: 35vw;
      justify-self: center;
      align-self: center;
    }
    .details {
     grid-area: details;
     padding: 0;
     margin: 0;
     justify-self: center;
     align-self: center;
     
    }
    .about {
      grid-area: bio;
      padding: 20px;
      margin: 0;
    }
    .related-links {
      grid-area: links;
      display: flex;
      justify-content: space-around;
      gap: 20px;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    #experience,
    #skills,
    #education {
      padding: 20px;
      margin-top: 20px;
    }
    
}

/*----Desktop breakpoint---*/
@media screen and (min-width: 992px) {

  nav ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    margin: 0;
    font-size: 1.4rem;
  }
  #about {
    grid-template-columns: 60vw 1fr;
  }
  .headshot {
    width: 40vw;
  }
  .details {
    font-size: 1.4rem;
  }
  .about {
    font-size: 1.4rem;
  }
  .related-links {
    font-size: 1.4rem;
  }
  #skills {
    font-size: 1.4rem;
  }
  #experience {
    font-size: 1.4rem;
  }
  #education {
    font-size: 1.4rem;
  }
  footer.container {
    font-size: 1.4rem;
  }
}
